    body {
        background-color: #12A55A;
    }
    
    form {
        background-color: white;
        max-width: 300px;
        width: 70%;
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    form h3 {
        text-align: center;
    }
    
    form h4 {
        text-align: center;
    }
    
    form input[type=text],
    form input[type=password] {
        width: 100%;
        height: 45px;
        border: 1px solid #F2F2F2;
        padding-left: 5px;
        margin: 10px 0;
        background-color: #F2F2F2;
    }
    
    form input [type=submit] {
        width: 100%;
        height: 40px;
        cursor: pointer;
        background-color: #12A55A;
        border: 1px;
        transition: 1s;
        margin: 10px 0;
    }